<nav class="nav-menu">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Dashboard</NavLink>
    <NavLink class="nav-link" href="today">Today</NavLink>
    <NavLink class="nav-link" href="calendar">Calendar</NavLink>
    <NavLink class="nav-link" href="entries">Entries</NavLink>
    <NavLink class="nav-link" href="search">Search</NavLink>
    <NavLink class="nav-link" href="streaks">Streaks</NavLink>
    <NavLink class="nav-link" href="export">Export</NavLink>
    <NavLink class="nav-link" href="settings">Settings</NavLink>
    <NavLink class="nav-link" href="lock">Lock</NavLink>
</nav>
